﻿@charset "UTF-8";
body {
	font-family: 'Questrial', sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #78833a;
}

.rest-week{text-align:center;}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
	font-family: 'Questrial', sans-serif;
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#A7AA00; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:400px;
	height:400px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-200px 0 0 -200px; /* is width and height divided by two */
}

h1 {
	font-size: 40px;
}

a {
	text-decoration: none;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 100%;
	/*max-width: 1260px;*//* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	/*min-width: 780px;*//* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	 background: #a7aa00 url(../images/radial-gradient.png) center repeat-y;
	 padding: 20px 0;
		z-index: 3;
		position: relative;
	}
	
.header a{
	color: #FFFFFF;
	text-decoration: none;
}
.header a:hover{
	color: #78833a;
	text-decoration: none;
}

#nav-follow {
	background-color: #a7aa00;
	width: 100%;
	z-index: 2;
	position: fixed;
	color: #FFF;
}

.hiring {
	position: absolute;
	z-index: 9999;
	right: 100px;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	margin: 0 auto;
	max-width: 960px;
	min-width: 780px;
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

.green-text {
	color: #78833a;
}

/* ~~ The footer ~~ */
.footer {
	height: auto;
	padding: 10px 0 60px 0;
	background-color: #a7aa00;
	background: #a7aa00 url(../images/radial-gradient.png) center repeat-y;
	color: #FFF;
}

.footer a {
	color: #FFF;
	text-decoration: none;
}

.footer-nav {
	font-size: 12px;
}

.footer-icon {
	width: 100px;
	height: 30px;
	background-image:url(../images/peace-love-tabbuli.png);
	background-repeat: no-repeat;
	margin: 0 auto;
}

/*begin newsletter styles*/

#newsletter {
	width: 200px;
	height: auto;
}

.inline {
	vertical-align: top;
	display: inline-block;
	width: auto;
	height: auto;
}

.form-padding {
	padding-left: 5px;
}

.FieldsInput {
	border: none;
	width: 175px;
	padding: 5px;
	color: #a7aa00;
	margin: 15px 0;
}

.form-label {
	text-transform: uppercase;
	font-size: 12px;
}

.submit-button {
	width: 80px;
	height: auto;
	padding: 5px 10px;
	background-color: #78833A;
	color: #FFF;
	border: none;
}

.img-responsive {
	max-width: 100%;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

::selection {
	background-color: #78833a;  /* Safari */
	color: #FFF;
	}
::-moz-selection {
	background-color: #78833a;  /* Firefox */
	color: #FFF;
}

ul.nav {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
}

li.nav {
	padding: 10px 0;
	font-weight: bold;
}

.shop {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.price {
	padding: 20px 0;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.header-contact {
	float: right;
}

.box-gradient {
	background-image: url(../images/radial-box-shadow.png);
	width: 940px;
	height: 20px;
	margin: -1px auto 0 auto;
}

.white-text {
	color: #FFFFFF;
}

#circles {
	width: 100%;
	height: 750px;
}

.circle-wrapper {
	position: absolute;
}

.center-circle {
	background-image:url(../images/center-circle.png);
	/*border-radius: 50%;
	-webkit-border-radius: 50%;*/
	width: 600px;
	height: 600px;
	margin: 80px 0 80px -300px;
	/*z-index: 9999;*/
	z-index: 1;
	position: absolute;
	left: 50%;
	
}

.center-circle h1 {
	margin-top: -20px;
}

.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 400px;
	height: 400px;
	margin: 80px auto;
	vertical-align: bottom;
	position: relative;
}

.circle-left {
	left: -100px;
	top: 100px;
	background-image:url(../images/bloody-mary.png);
	width: 400px;
	height: 400px;
}

.circle-content {
	font-size: 24px;
	position: absolute;
	bottom: 35px;
	left: 50px;
	text-align: center;
}

.circle-content-2 {
	font-size: 24px;
	position: absolute;
	bottom: 35px;
	right: 65px;
	text-align: center;
}

.circle-right {
	width: 400px;
	height: 400px;
	right: -690px;
	top: 100px;
	background-image: url(../images/bruch-image.png);
}

.center-text {
	text-align: center;
	position: relative;
	top: 140px;
}

.text-center {
	text-align: center;
}

.letter-spacing {
	letter-spacing: 2px;
}

.cite-source {
	font-size: 14px;
	font-style: italic;
}

.button {
	background-color: #bc6b29;
	padding: 5px 10px;
	position: absolute;
	bottom: 20px;
	left: 135px;
	color: #FFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFF;
	z-index: 1;
}

.button-2 {
	background-color: #bc6b29;
	padding: 5px 10px;
	position: absolute;
	bottom: 20px;
	left: 150px;
	color: #FFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFF;
	z-index: 1;
}

.gc form {
	max-width: 300px;
	display: block;
	margin: 0 auto;
}

.gc table {
	margin: 20px 0;
}

.gc-button {
	background-color: #78833A;
	border-radius: 5px;
	max-width: 300px;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
}

.gc-button a:link {
	color: #FFF;
	font-weight: 100;
}

.phone {
	pointer-events: none;
   cursor: default;
}

.phone-spacing {
	margin-left: -10px;
	margin-top: 10px;
}

.contact-info {
	margin-top: -25px;
}

.address {
	font-size: 20px;
}

#hr, .hr {
	background-image: url(../images/divider.png);	
	background-repeat: no-repeat;
	width: 930px;
	height: 7px;
	padding: 25px 0;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #FFF;
	margin: 30px 0;
}

.two-col {
	display: inline-block;
	width: 465px;
	height: auto;
	vertical-align: top;
}

.two-col-2 {
	display: inline-block;
	width: 47%;
	height: auto;
	vertical-align: top;
}

.two-col li {
	font-style: italic;
	font-size: 12px;
}

.two-col p {
	font-size: 14px;
}

.three-col {
	display: inline-block;
	width: 280px;
	height: auto;
	vertical-align: top;
	padding: 0 5px;
}

.bg-leaves {
	 background-image: url(../images/bg-leaves.jpg);
		background-repeat: repeat;
		width: 100%;
	 min-height: 600px; 
		height: auto;
		margin: 25px 0 0 0;
		color: #FFF;
}

.radial-shadow-top {
	background-image:url(../images/radial-box-shadow-top.png);
	width: 940px;
	height: 20px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.callout {
	padding: 80px 0;
}

.callout-container {
	 background-color: #FFF;
		background-repeat: repeat;
		width: 100%; 
		height: auto;
		padding: 20px 0;
}

.icon {
	width: 120px;
	height: 120px;
	margin: 60px auto 20px auto;
	display: block;
}

.instagram-placeholder {
  display: inline-block;
}

.instagram-image {
	width: 150px;
	height: 150px;
	margin: 5px;
}

/*begin menu styles*/

.menu-width {
	width: 300px;
	height: auto;
}

.menu-description {
 color: #78833a;
	font-size: 13px;
	padding-bottom: 20px;
}

.add-item {
	color: #78833a;
	font-style: italic;
	font-size: 11px;
}

.menu-image-container {
	padding-top: 65px;
	width: 300px;
	height: auto;
}

.large-text {
	font-size: 36px;
	font-weight: bold;
	line-height: 46px;
}

.orange-text {
	color: #bc6b29;
}

.menu-button {
	background-color: #bc6b29;
	color: #FFF;
	padding: 5px 15px;
	-webkit-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;
margin: 15px 0 0 20px;
font-size: 14px;
}

.menu-spacing {
	width: 100%;
	height: 100px;
}

/*begin gallery styles*/

.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#78833a url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#78833a url(../images/views.png) no-repeat top left;
	border:3px solid #78833a;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#78833a;
	border-color:#aaa;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

/*end gallery styles*/

.map-spacing {
	background-image: url(../images/radial-box-shadow.png);
	width: 940px;
	height: 20px;
	margin: -4px auto 0 auto;
}

.form-label-two {
	margin: 5px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 0 8px 5px;
	width: 80%;
	border: 1px solid #78833a;
	color: #78833a;
}

.button-two {
	background-color: #78833a;
	padding: 8px 0;
	width: 100px;
	color: #FFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}

#tripadvisor-widget {
	left: 150px;
	position: relative;
}

.whn-header {
	background-color: #F6F6F6;
	padding: 25px 0 5px 0;
}

.whn-header h1 {
	text-align: center;
	text-transform: uppercase;
	color: #aaa;
}

#calendar {
	margin: 40px 0;
}

.whn-col {
	-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
}

.whn-img {
	width:960px; 
	height:279px;
}

.whn-album {
	width: 960px;
	height: 1450px;
}


@media screen and (max-width: 1230px) {
	.box-gradient, .radial-shadow-top, .bg-leaves, #nav-follow, #tripadvisor-widget, .menu-image, .google-image, .map-spacing {
		display: none;
	}
	
		.container {
	min-width: 0;
	width: 100%;
	height: auto;
	}
	
	
	.videoPlayer {
		width: 100%;
	}
	
	.content {
		margin: 0 auto;
		min-width: 0;
	}
	
	.circle-wrapper {
	position: inherit;
}

.center-circle {
	background-image: none;
	background-color: #a7aa00;
	/*border-radius: 50%;
	-webkit-border-radius: 50%;*/
	width: 100%;
	height: auto;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	z-index: 9999;
	position: inherit;
	left: 0;
}

.circle {
	width: auto;
	height: auto;
	margin: 0;
	vertical-align: inherit;
	position: inherit;
}

.circle-left, .circle-right, .button, .button-2 {
	display: none;
}

.center-text {
	padding: 20px 0;
	position: inherit;
	top: 0;
}

#circles {
	width: 100%;
	height: auto;
}

}


/* basement styles */

.fltlft {
	float: left;
}

.fltrght {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#basement {
	background-color: #778439;
	width: auto;
	padding-bottom: 20px;
}

#basement p {
	color: #eaebec;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 11px;
	margin: -30px 0 30px 0;
}

.content-wrapper {
	width: 960px;
	display: block;
	margin: 0 auto;
}

#basement .content-wrapper img {
	margin: 0 5px;
}

.pineapple-wrapper {
	background: url(../images/logos/circle.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 30px;
}

.pineapple {
	background: url(../images/logos/pineapple.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: 15px;
}

.img-center {
	display: block;
	margin: -40px auto 0 auto;
}

.we-deliver {
	position: absolute;
	top: 200px;
	right: 0;
}

.ecard {
	background-color: #4e5708;
	text-align: center;
	padding: 10px 0;
}

.ecard a {
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
}


@media screen and (max-width: 1260px) {
	.content-wrapper {
	width: 800px;
	display: block;
	margin: 0 auto;
}
	
	}



@media screen and (max-width: 700px) {
	
	.we-deliver {
		display: none;
	}
	
  
	 	
	 a#next_month, .hr, .hiring {
	display: none;
}
	
	
	.whn-col {
	-moz-column-count:1; /* Firefox */
-webkit-column-count:1; /* Safari and Chrome */
column-count:1;
}
	
	
	.whn-album {
	display: none;
}
	
	.whn-img {
	width:320px;
	height: 93px; 
}
	
	.whn {
	 width: 320px;
	 height: auto;
		padding-bottom: 80px;
}

#calendar {
	width: 320px;
}

	.box-gradient, .radial-shadow-top, .bg-leaves, #nav-follow, #tripadvisor-widget, .menu-image, .google-image, .map-spacing {
		display: none;
	}
		
	.container {
	min-width: 0;
	width: 100%;
	height: auto;
	}
	
	.content {
		margin: 0 auto;
		min-width: 0;
	}
	
	.header-contact {
		display: block;
	float: none;
	width: 210px;
	height: 80px;
	margin: 0 auto 70px auto;
	}
	
	ul.nav {
	display: inline;
	}
	
	li.nav {
	width: 80%;
	height: auto;
	background: rgba(120, 131, 58, 0.3); 
	margin: 10px auto;
	text-align: center;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #FFF;
	}
	
	.header {
		margin: 0 auto;
		background: #a7aa00;
	}
	
	.video-container {
width: 100%;
height: auto;
/*position: absolute;*/
padding:0;
margin:0;
/*left: 0px;
top: 0px;*/
z-index: -1000;
overflow:inherit;
}

.videoPlayer {
    /*min-height: 100%;*/
max-width:300px;
/*width: 300px;*/
height: auto;
/*position:absolute;*/
top:0;
left:0;
}

.phone {
	pointer-events: auto;
   cursor: pointer;
   letter-spacing: -1px;
   font-size: 15px;
}

.circle-wrapper {
	position: inherit;
}

.center-circle {
	background-image: none;
	background-color: #a7aa00;
	/*border-radius: 50%;
	-webkit-border-radius: 50%;*/
	width: auto;
	height: auto;
	margin: 0;
	z-index: 9999;
	position: inherit;
	left: 0;
}

.circle {
	width: auto;
	height: auto;
	margin: 0;
	vertical-align: inherit;
	position: inherit;
}

.circle-left, .circle-right, .button, .button-2 {
	display: none;
}

.center-text {
	padding: 20px 0;
	position: inherit;
	top: 0;
}

#circles {
	width: 100%;
	height: auto;
}

#hr {
	background-image: none;	
	width: 100%;
	height: 1px;
	padding: 0;
	background-color: #a7aa00;
	margin: 25px 0;
}

.three-col {
	display: block;
	width: 280px;
	height: auto;
	vertical-align: top;
	padding: 0 5px;
	margin: 0 auto;
}

.footer-nav {
	font-size: inherit;
	width: 100%;
	height: auto;
}

.image-padding {
	padding-top: 40px;
}

.inline {
	display: inherit;
}

/*begin mobile newsletter styles*/

#newsletter {
	margin: 40px auto;
	width: 80%;
}

.FieldsInput {
	width: 54%;
	height: auto;
	padding: 10px 40px;
}

.submit-button {
	width: 80%;
	height: auto;
	padding: 10px 40px;
}

.menu-image-container {
	margin: 0 auto;
	display: block;
}

.two-col {
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	padding: 0 30px;
}

#social {
	display: none;
}

.button-two {
	width: 80%;
}

.content-wrapper {
	width: 200px;
}

.fltlft, .fltrght {
	float: none;
}
}

@media (max-width : 768px) {
	.invest {
	margin: 0 auto;
	padding-bottom: 25px;
}

.shop {
	display: block;
	width: 100%;
}
	}

/* Modal Popup Styles */
	
	#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  z-index: 9997;
}

#popup{
  position:absolute;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  padding: 0;
  margin-left:-320px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
  z-index: 9998;
  padding: 25px;
}

#popup a:link {
	color: #000;
	text-decoration: underline;
}

#popup img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
}

#close{
  position:absolute;
  background:white;
  color:black;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
  z-index: 9999;
}

.popup-btn {
	background-color: #a7aa00;
	color: #fff;
	font-size: 1.4em;
	padding: 15px 20px;
}

.popup-btn:hover {
	background-color: #778439;
	color: #fff;
}




@media (max-width : 768px) {

#popup{
  position:relative;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:0;
  top:60px;
  padding: 0 ;
  margin-left: 5px; /* width/2 + padding-left */
  margin-right: 5px;
  margin-top:0; /* height/2 + padding-top */
}

#close{
  z-index: 9999;
}

}

/* End Modal Popup Styles */

.catering-form {
	    background: #a7aa00 url(../images/radial-gradient.png) center repeat-y;
	    padding: 15px;
    }
    
    .catering-form h3 {
	    color: #fff;
	    padding-bottom: 15px;
    }
    
    .catering-form .catering-field {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid #fff;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .contact-message {
	    display: block;
	    margin: 0;
	    border: 1px solid #fff;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .form_label {
	    text-align: center;
	    color: #fff;
    }
    
    .catering-form .disclaimer {
	    font-style: italic;
	    font-size: 0.75em;
	    color: #fff;
    }
    
    .catering-button {
	    background-color: #778439;
	    color: #000;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 5px 40px;
	    letter-spacing: 1px;
	    border: none;
	    margin-top: 10px;
    }
    
    .catering-button:hover {
	    background-color: #778439;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 5px 40px;
	    letter-spacing: 1px;
	    border: none;
	    margin-top: 10px;
    }
    
    @media (max-width:768px) {
	    .two-col-2 {
		    display: block;
		    margin: 0 auto;
	    }
	    .catering-form input {
		    width: 100%;
	    }
	    .catering-button, .catering-form select {
	    display: block;
	    margin: 10px auto;
    }
    
    .catering-form .form_label, .catering-form .disclaimer {
	    text-align: center !important;
	    }
	    }

